@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: auto;
}

.header {
  background-color: blue;
}
.header__title {
  padding: 100px 0;
  font-size: 75px;
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main__counter {
  margin-top: 50px;
  margin-bottom: 70px;
  border: 1px solid #000;
  font-size: 60px;
}

.btn-start {
  background-color: #000;
  color: #fff;
  border-radius: 5%;
  padding: 23px 20px;
  margin-right: 20px;
  font-size: 40px;
  transition: all 0.3s;
}
.btn-start:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.btn-pause {
  background-color: #000;
  color: #fff;
  border-radius: 5%;
  padding: 23px 20px;
  margin-right: 20px;
  font-size: 40px;
  transition: all 0.3s;
}
.btn-pause:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.btn-reset {
  background-color: #000;
  color: #fff;
  border-radius: 5%;
  font-size: 40px;
  padding: 23px 20px;
  transition: all 0.3s;
}
.btn-reset:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}